.bodyarticulo {
    width: 80%;
    margin: 0 auto;
    background-color: rgba( $bgseccolor, 0.5);
}

.quienessomos {
    width: 100%;
    text-align: center;
    padding: 100px 0;
}

.parrafo {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    color: $color_primeria;
    font-size: 25px;
}