// header {
//     background-image: url('../recursos/quienessomos.jpg');
//     background-size: cover;
//     height: 200px;
//     h2 {
//         font-size: 60px;
//         color: $color_primeria;
//         text-align: center;
//         font-family: 'Abril Fatface';
//         letter-spacing: 20px;
//     }
// }
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url('../recursos/quienessomos.jpg');
    background-size: cover;
    .titulo {
        font-size: 500px;
        color: $color_primeria;
        // text-align: center;
        font-family: 'Abril Fatface';
        letter-spacing: 20px;
    }
}

@media (max-width: 700px) {
    .header {
        height: 100px;
        .titulo {
            color: $color_primeria;
        }
    }
}

.navbar {
    background-color: $bgcolor;
    .nav-link {
        color: $color_primeria;
        &:hover {
            background-color: saturate( $bgcolor, $amount: 25%);
        }
    }
}